@model AbObjects.Implementation.Person

<tr>
    <td> <img src="../../Content/Images/user.png" /> </td>
    <td> @Model.FirstName </td>
    <td> @Model.LastName </td>
    <td> @Model.Location </td>
</tr>

